body {
  background-image: url("https://png.pngtree.com/background/20230525/original/pngtree-modern-green-lobby-interior-picture-image_2731782.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0,0,0,0.8px;

}